html{
    font-size: 16px;
    line-height: 1.5;
    font-family: "PT Sans", sans-serif;
}
ul li{
    list-style-type: square;
}
ul ul li{
    list-style-type: disc;
}
ul ul ul li{
    list-style-type: circle;
}